

body{ text-align: center;margin: 0;margin-top:0; vertical-align: middle;}

h1 {font-weight:bold;font-size:18px;}
h2 {font-weight:bold;}


#container
{position:relative;width: 955px;height:600px;color: #333;border:0; margin: 0 auto;background: url(../images/et_back_trans.png) #ead9c0;}

#flourish {position:absolute; bottom:0; right: 0; margin-left:-246px;background: url();}

#top
{padding: .5em;}

#top h1
{padding: 0;margin: 0;}

#logospace {position:absolute;top:5; left:10;text-align:left;margin-left:0px;}
#signature {margin-top:24px;margin-left:22px;}
#civcel {position:absolute; top:144px;left:20px;}

#quote {position:absolute; top:40px;left: 700px;width:200px; font-size:15px ;text-align:left;color:#fefdfb;font-family:Georgia, Times;font-weight:600;font-style:italic;}

#nav {margin-top:185px;margin-left:20px;
	font-family: Trebuchet MS, Helvetica;color: #00b9d8; text-align:left;font-size:12px;}
#nav a {text-decoration: none;text-transform:uppercase;color:#00b9d8;letter-spacing:.35px;}


#main{position:absolute; top:220px;height:100%;border: 0;}

#mainpic {position:absolute;top:0px;left:29px; width:448px;height:331px;}

#intro {position:absolute; top:0px; left: 496px; width:215px;text-align:left; font-size:14px;font-family:Georgia, Times;}
p {margin-bottom: 6px;line-height:112%;color: #938173;}
p.first {font-size:18px;margin-bottom:8px;line-height:100%;letter-spacing: -0.6px;text-align:left;color: #938173;}
p.pop {font-size:24px;margin-bottom:8px;line-height:100%;letter-spacing: -0.6px;text-align:left;color: #938173;}
p.other_heading{font-size:22.5px;margin-top:12px;margin-bottom:8px;line-height:100%;letter-spacing: -0.6px;text-align:left;color: #938173;}


#contacts {position:absolute; top:130px;}
#contacts table {margin-bottom:20px;}
#contacts tr {height:30px}
#contacts td {font-size:20px;letter-spacing: -0.6px;text-align:left;color: #938173;}
#contacts a {font-size:20px;letter-spacing: -0.6px;text-align:left;color: #938173; text-decoration:none;}


.body {text-align:left; width:600px; font-size:14px;}
.body p {margin-bottom: 2px;color: #938173;}

#left_text {position:absolute;top:5px;left:29px; width:548px;height:331px;text-align:left;  font-size:14px;font-family:Georgia, Times;}
#left_textScroll {position:absolute;top:5px;left:29px; width:600px;height:331px;overflow:auto;text-align:left;  font-size:14px;font-family:Georgia, Times;
	border-style:solid;border-width:1px; border-color:#e0d0c0;padding:4px;}
.testimonialText {font-style:italic;font-size:12px;}
.testimonialNames {font-weight:bold;font-size:12px;}


#pagenav {position:absolute;top:236px;left: 496px; width: 150px;text-align:left;}
#pagenav table {height:100px;}
#pagenav table td {vertical-align:bottom;}
#pagenav a {font-family: Trebuchet MS, Helvetica; text-align:left;font-size:10px;
	text-decoration: none;text-transform:uppercase;color:#938173;letter-spacing:.35px;}
#pagenav .big_arrows {font-size: 48px;vertical-align:bottom;font-family:Trebuchet MS;font-weight:100;color:#00b9d8;}

#testimonialNav {font-style:normal;}
#testimonialNav a {font-family: Trebuchet MS, Helvetica; text-align:left;font-size:10px;
	text-decoration: underline;text-transform:uppercase;color:#fff;letter-spacing:.35px;}


#finalnav {position:absolute;top:573px;left:30px; width:300px;text-align:left;}
#finalnav a {font-family: Trebuchet MS, Helvetica; text-align:left;font-size:10px;
	text-decoration: underline;text-transform:uppercase;color:#fff;letter-spacing:.35px;}

#tablepics {}
#tablepics th {font-family: Trebuchet MS, Helvetica;color: #00b9d8; text-align:center;font-size:16px; height:40px;}
#tablepics tr {height:100px;}
#tablepics .name {width:140px; text-align:left;padding-right:20px; vertical-align:top;}
#tablepics .pic {width: 100px;vertical-align:top;}
#tablepics .edits {vertical-align:top;}

#photonav {width: 60px; vertical-align:top;}
#photonav tr {height:25px;}

#tabletest {}
#tabletest td {vertical-align:top;padding-top:20px;text-align:left;}
#tabletest .text {width:340px; text-align:left;padding-right:20px;padding-top:20px; vertical-align:top;}
#tabletest .name {width: 100px;  text-align:left;padding-right:20px;padding-top:20px; vertical-align:top;}


#pic_admin_body {margin-left: 20px; margin-right: 20px;background: #ead9c0}
#pic_admin_main {width: 760px;text-align:left;margin-left:auto;margin-right:auto;}
#pic_admin_lcol {width: 400px;float:left; background:#ead9c0;}
#pic_admin_rcol {width: 300px;float:right; background:#ead9c0;}
#pic_admin_centertable {margin-left:auto;margin-right:auto;margin-top:30px; border-width: 3px;padding: 0px;}
.pic_admin_thumb {margin-left: 10px;margin-top: 20px;margin-right: 10px;margin-bottom: 0px;}
.pic_admin_edititems {margin-left: 20px;}
.pic_admin_category {font-family: Trebuchet MS, Helvetica; text-align:left;padding-left:4px;;font-size:8px; 
	text-transform:uppercase;color:#fff;letter-spacing:.35px;}
.green {color: #409929;}
.red {color: #8d1610;}
#pic_admin_editscreen {font-family: Trebuchet MS, Helvetica; text-align:left;font-size:12px; color:#fff;}


#test_admin_body {margin-left: 20px; margin-right: 20px;background: #ead9c0}
#test_admin_main {width: 760px;text-align:left;margin-left:auto;margin-right:auto;}
#test_admin_lcol {width: 400px;float:left; background:#ead9c0;}
#test_admin_rcol {width: 300px;float:right; background:#ead9c0;}
#test_admin_table {width: 400px; text-align:left;margin-left:auto;margin-right:auto;}
.pic_admin_editline {width:100px;margin:10px;}
.pic_admin_edititems {text-align:center;}
.test_admin_tablerow {}
#test_admin_editscreen {font-family: Trebuchet MS, Helvetica; text-align:left;font-size:12px; color:#fff;}


#tag_admin_body {margin-left: 20px; margin-right: 20px;background: #ead9c0}
#tag_admin_main {width: 760px;text-align:left;margin-left:auto;margin-right:auto;}
#tag_admin_lcol {width: 400px;float:left; background:#ead9c0;}
#tag_admin_rcol {width: 300px;float:right; background:#ead9c0;}
#tag_admin_table {width: 400px; text-align:left;margin-left:auto;margin-right:auto;}
.tag_admin_tablerow {}
#tag_admin_editscreen {font-family: Trebuchet MS, Helvetica; text-align:left;font-size:12px; color:#fff;}



.pic_wedding {background-color: #6b829f; height: 150px;}
.pic_naming {background-color: #ab738a;  height: 150px;}

