<div class = "mainpic">	
	<%=image_tag 'et_elizabeth.png'%>
</div>

<div id = "intro">
	<p class = "first">From the Elegant to the Unique, from the lavish to the intimate, Elizabeth will assist you in creating a personalised ceremony for every occasion.
	</p>
	<p>Elizabeth is a vibrant woman with a great interest in the celebrations of life. As well as being a celebrant she is also an actor and television presenter of considerable experience.</p>

	<p >She is very enthusiastic about her work and thoroughly enjoys utilising all her skills to create meaningful, personal and original ceremonies for any and every occasion.</p>


</div>

